body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffb3;
    margin: 0;
}

header, div {
    text-align: center;
}

header h1 {
    color: #D2E3C8;
    font-weight: bold;
    font-style: italic;
    background-color: #5F6F52;
    margin: 0;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
}

header h1 span {
    color: #A3B763;
    font-size: 15px;
    
}

.div1 {
    border: 1px outset rgb(244, 247, 87);
    background-color: #FAD6A5;
    margin-left: 7em;
    margin-right: 7em;
    padding-top: 1.5em;
    padding-bottom: 10em;
}

.div1 h4 {
    margin-top: 32px;
    font-weight: bold;
    color: #76453B;
}

.div1 p {
    font-size: 11px;
    margin-top: -10px;
    padding-bottom: 1em;
    color: #76453B;
}


.navdiv {
    display: flex;
    justify-content: center;
}

.navdiv h5 {
    margin-top: 2em;
    padding: 1em;
    padding-left: 8em;
    padding-right: 8em;
    color: white;
    border: 1px solid black;
} 

.gambar {
    display: inline-block;
    width: 60%;
    margin: 0;
}

.gambar img {
    float: left;
    margin-top: 2em;
}

.squareSide {
    margin-top: 15px;
    outline: none;
    border-radius: 6px;
    border: 2px solid #447726;
    padding: 7px;
    width: 25%;
}

.squareSide.focus {
    border: solid #5ba862;
}

.sisi {
    width: 70%;
    margin-left: 10em;
}

.persegi {
    margin-top: 10em;
}

button {
    background-color: rgba(60, 207, 60, 0.641);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 7px 20px ;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(81, 156, 81) ;
}

button:disabled {
    background-color: red;
}

button:active{
    background-color: #8cb375;
    transform: translateY(2px)
} 

.tulisan {
    padding-left: 5%;
}

.table p {
    font-size: 15px;
    margin-top: 0.2rem;
}